.millLists {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    height: 100vh; 
    padding: 20px;
    text-align: center; 
}

.millLists-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center; 
}

.mill-box {
    border: 2px solid #4CAF50; 
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.mill-box h2 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.mill-box p {
    font-size: 14px;
    margin: 5px 0;
}

.mill-box .button-container {
    display: flex;
    justify-content: space-between;
}

.mill-box input {
    width: 100%;
    padding: 8px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.new-mill-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.new-mill-form input {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

.new-mill-form button {
    background-color: #4CAF50; 
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.new-mill-form button:hover {
    background-color: #45a049;
}

.new-mill button {
    background-color: #008CBA; 
    color: white;
}

.new-mill button:hover {
    background-color: #007B9A;
}

.new-mill-form button[type="button"] {
    background-color: #f44336;
}

.new-mill-form button[type="button"]:hover {
    background-color: #d32f2f;
}

.add-button {
    width: 48%;
    background-color: #4CAF50; 
    color: white; 
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.add-button:hover {
    background-color: #45a049;
}

.remove-button {
    width: 48%;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.remove-button:hover {
    background-color: #cc0000; 
}

.ok-button {
    width: 100%;
    background-color: #008CBA;
    color: white;
}

.ok-button:hover {
    background-color: #007B9A;
}

.search-box {
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    max-width: 300px;
    margin: 10px auto;
}

.allDetails {
    display: flex;
}
